n8n/n8n_workflow_fluxo3_ajustes.json
{
  "name": "NTICS — Detector de Ajustes ClickUp",
  "nodes": [
    {
      "parameters": {},
      "id": "start-note",
      "name": "Instrucoes",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1,
      "parameters": {
        "content": "## NTICS — Detector de Ajustes ClickUp\n\nDetecta comentarios do Lucas na lista de conteudo e salva contexto no GitHub.\nO agente de ajustes (Claude Code Scheduled Task) faz polling a cada 5min.\n\n### Fluxo:\nClickUp Comment -> Filtro (so Lucas) -> Prepara contexto -> Salva no GitHub\n\n### Credenciais necessarias:\n- ClickUp API Key (gerar em Settings > Apps)\n- GitHub Token (variavel GITHUB_TOKEN no n8n)\n\n### IDs:\n- Lista ClickUp: 901109494072\n- User Lucas: 87343005\n- Repo: arte3-star/ntics-automacoes"
      }
    },
    {
      "parameters": {
        "event": "taskCommentPosted",
        "list": "901109494072"
      },
      "id": "clickup-trigger",
      "name": "Novo Comentario ClickUp",
      "type": "n8n-nodes-base.clickUpTrigger",
      "position": [250, 300],
      "typeVersion": 1,
      "credentials": {
        "clickUpApi": {
          "id": "CLICKUP_CREDENTIAL_ID",
          "name": "ClickUp API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "filter-lucas",
              "leftValue": "={{ $json.history_items[0].user.id }}",
              "rightValue": "87343005",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-lucas",
      "name": "E o Lucas?",
      "type": "n8n-nodes-base.if",
      "position": [480, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const taskId = $input.first().json.task_id;\nconst historyItems = $input.first().json.history_items || [];\nconst comment = historyItems[0]?.comment?.text_content || 'sem texto';\nconst taskUrl = `https://app.clickup.com/t/${taskId}`;\nconst now = new Date().toISOString();\n\nconst markdown = `# Ajuste solicitado\\n\\n**Task ID:** ${taskId}\\n**Task URL:** ${taskUrl}\\n**Comentario:** ${comment}\\n**Data:** ${now}\\n`;\n\nconst encoded = Buffer.from(markdown).toString('base64');\n\nreturn [{\n  json: {\n    task_id: taskId,\n    task_url: taskUrl,\n    comment_text: comment,\n    encoded_content: encoded,\n    filename: `${taskId}.md`\n  }\n}];"
      },
      "id": "code-prepare",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "position": [700, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/arte3-star/ntics-automacoes/contents/pending-ajustes/{{ $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"ajuste: {{ $json.task_id }}\",\n  \"branch\": \"master\",\n  \"content\": \"{{ $json.encoded_content }}\"\n}",
        "options": {}
      },
      "id": "http-github",
      "name": "GitHub: Salvar Contexto",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Novo Comentario ClickUp": {
      "main": [
        [
          {
            "node": "E o Lucas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E o Lucas?": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "GitHub: Salvar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  }
}
